<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || @page_title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <!-- <base href="<%= @base_url %>" /> -->
  <script src="http://jwpsrv.com/library/pFnidpNJEeO6mCIACmOLpg.js"></script>
</head>
<body>
<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<%= yield %>

</body>
</html>
